<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>962708997870-nnkc7a11ijmfat4a70m9nm8mdlqvl5km.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.962708997870-nnkc7a11ijmfat4a70m9nm8mdlqvl5km</string>
	<key>API_KEY</key>
	<string>AIzaSyA_vtR3atTwcjSId8KmtSqvrOrWiQ518Ak</string>
	<key>GCM_SENDER_ID</key>
	<string>962708997870</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.AsaekKPP.crubSencilloEjemplo</string>
	<key>PROJECT_ID</key>
	<string>proyetopruebas</string>
	<key>STORAGE_BUCKET</key>
	<string>proyetopruebas.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:962708997870:ios:78c7ca1a2a4d2da9bdd5ff</string>
	<key>DATABASE_URL</key>
	<string>https://proyetopruebas-default-rtdb.firebaseio.com</string>
</dict>
</plist>